*{
	margin: 20;
	padding: 50;
	font-family: Calibri;
	background: linear-gradient(to right, #33ccff 0%, #cc00ff 100%);
}
   
.title h1
{
	color: rgb(0, 262, 120);
	font-size: 90px;
}
.title h2
{
    color: rgb(125, 0, 280);
	font-size: 50px;
}
